*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*  HEADER */


.header{
    background-color:rgb(82, 81, 81);
    display: flex;
    position: fixed ;
    width: 100%;
    height: 100%;
}


.home-list{
    font-weight: bolder;
    display: flex;
    color: white;
    text-transform: uppercase;
    background-color: rgb(48, 47, 47);
    justify-content: flex-end;
    padding-left: 80px;
    padding-right: 80px;
    list-style: none;
    margin: 0 auto;
   

}

.home-item{
    padding: 20px;
}

header ul li a:hover{
    color: rgba(189, 184, 184, 0.589);
    
}

header ul li a {
    text-decoration: none;
    color: white;
}
.logo{
    justify-content: flex-start;
    margin-right: 40%;
}

/* Slider */

#carouselExampleCaptions{
    padding: 0;
    margin: 0;
    position: relative;
}

.carousel-item {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item video, .carousel-item img  {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.carousel-item img{
    opacity: 0.9;
}

.secondImg-text a{
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    padding: 10px 15px;
    border-radius: 45px;
}

.carousel-caption {
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.carousel-caption h1{
    font-family: 'Roboto', sans-serif;
    font-size: clamp(2rem, 1em + 7vw, 9rem);
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.carousel-caption h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    text-shadow: none;
}

.carousel-caption p{
    display: inline-block;
    color: #fff;
    font-size: clamp(0.8rem, 1em + 1.5vw, 1.4rem);
    text-shadow:  3px 3px 7px black;
}

.secondImg-text{
    display: block;
    position: absolute;
    top: 250px;
    left: 100px;
    width: 40%;
    text-align: center;
    color: #fff;
}

.secondImg-text h1{
    font-family: 'Roboto', sans-serif;
    display: block;
    color: #fff;
    font-size: clamp(4rem, 6vw, 10rem);
    text-align: center;
    text-shadow: 4px 4px 4px black;
    line-height: 1;
}

.secondImg-text p{
    font-size: clamp(1.0rem, 6vw, 1.0rem);
    margin: 1px 1px 1px 3px;
    text-shadow: 2px 2px 4px black;
}

.thirdImg-text{
    display: block;
    position: absolute;
    top: 140px;
    right: 110px;
    width: 45%;
    text-align: center;
    color: #fff;
}

.thirdImg-text h1{
    font-family: 'Orbitron', sans-serif;
    font-size: clamp(4rem, 6vw, 10rem);
    line-height: 0.9;
    text-shadow: -4px -4px  rgb(205, 4, 205),
                 4px 4px  rgb(114, 219, 253);
}

.thirdImg-text h4{
    font-size: clamp(0.5rem, 5vw, 1.4rem);
}

.thirdImg-text p{
    font-size: clamp(0.5rem, 5vw, 1.1rem);
    margin: 1px 1px 1px 3px;
}

.thirdImg-text a{
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    padding: 10px 10px;
    border-radius: 45px;
}

.botaoInscrever{
    margin-top: 5px;
    background-color: transparent;
    border: none;
    border-radius: 45px;
}

.botaoInscrever:hover{
    background-color: #fff;
    color: transparent;
}

@media screen and (max-width: 800px) {
    .thirdImg-text, .secondImg-text{
        display: block;
        position: absolute;
        margin: 4px;
        width: 85%;
        text-align: center;
        color: #fff;
        top: 50%;  
        left: 50%;  
        transform: translate(-50%, -50%);
        font-size: 1rem;
        text-shadow: 2px 2px 15px black;
    }
    .secondImg-text a{
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .thirdImg-text, .secondImg-text{
        display: block;
        position: absolute;
        width: 85%;
        text-align: center;
        color: #fff;
        margin: 4px;
        top: 65%;  
        left: 50%;  
        transform: translate(-50%, -50%)
    }
    .secondImg-text a{
        font-size: 14px;
    }

}

/* Voltar aqui para rotate e colocar links no a*/

/* Cards */

.container-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
    background-color:  rgb(31, 30, 30);
}

.cards:hover{
    margin-top: -10px;
}

.cards{
    border: 1px solid rgb(250, 250, 250);
    background-color:  rgb(77, 74, 74);
    color: white;
    font-weight: bolder;
    width: 25%;
    border-radius: 15px;
    text-align: center;
    padding: 14px;
    margin: 20px;
    float: right;
}

.cards:hover{
    box-shadow: 2px 2px 5px black;
}

.container-cards img{
    width: 50%;
    margin: 5px;
    transition: 0.5s;
}

.container-cards p{
    font-size: clamp(1.0rem, 3vw, 1.1rem);
}

.container-cards h2{
    font-size: clamp(1.4rem, 4vw, 2.0rem);
    font-family: 'Orbitron', sans-serif;
}



.button-card{
    background-color: white;
    border-radius: 10px;
    color: white;

}

.container-cards a:hover{
    background-color: rgb(167, 151, 151);
    font-weight:bold;
}


@media screen and (max-width: 1020px) {
    .cards{
        float: none;
        width: 40%;
        margin: 25px auto;
    }
}

@media screen and (max-width: 520px) {
    .cards{
        float: none;
        width: 80%;
        margin: 20px auto;
    }
}

/* Iframe Mapa */
.map{
    width: 100%;
    background-color: rgb(31, 30, 30);


}
.Mapa h3{
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 20px;
    color: white;
}

.Mapa h5{
    color:rgb(255, 255, 255);
    padding-bottom: 30px;
    font-size: 15px;
}

.embed-responsive{
    flex-wrap: wrap;
}

/*COINS*/
.coins{
    width: 100% ;
    background-color: rgb(31, 30, 30);
    padding: 40px;

}
.section-coins{
    width:75% ;
    background-color:rgb(201, 192, 192); ;
    height: 400px;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom:20px;
    border-radius: 10px;
    padding: 25px;
}

.table-tittle{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    padding: 3px;
    color:rgb(255, 255, 255) ;
}


/*fOOTER*/

.footer-menu{
    width: 100%;
    color: white;
    font-size: 15px;
    background-color: rgb(31, 30, 30);
    display: flex;
    padding: 25px;
}
.boxs{
    width: 320px;
    min-height: 150px;
    padding: 10px;
}

.footer-menu .boxs:nth-child(4){
    width: 400px;
}

.boxs h2{
  font-size: 20px;
  color:white;
  margin-bottom: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  
}

.boxs ul li {
    margin: auto 0;
    list-style: none;
}
.boxs ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.boxs ul{
    padding-left: 0rem;
}
.boxs ul li a:hover{
    color: aliceblue;
    text-decoration: none;
}

.boxs p {
    text-align: justify;
}

@media(max-width:950px){
    .footer-menu{
        flex-direction: column;
        width: 100%;


    }

    .footer-menu .boxs {
        width: 100%;
        text-align: center;
    }

    .footer-menu .boxs:nth-child(4){

        width: 100%;
        padding: 25px;
        padding-bottom: 15px;
    }

    .boxs ul{
        padding-left: 0rem;
    }
}

.footer-social{
    width: 100%;
    height:70px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: rgb(31, 30, 30);

}
.footer-social h2 {
    color: #fff;

}
.footer-social .sociais{
    display: flex;
    margin-right: 5px;

}

.sociais .social {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #ddd;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background.3s linear;

}

.sociais .social a{
    color: #000;
    font-size: 1.5em;
    transition: color.3s linear;

}
